@model HappyRentals.WebUI.Models.HomeListViewModel

@{
    ViewBag.Title = "Homes";
}

@foreach (var h in Model.Homes)
{
    <div class="item">
        <h3>@h.Name</h3>
        @h.Description
        @h.Address
        @h.City
        @h.Country
        <h4>@h.Price.ToString("c")</h4>
    </div>
}

<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>
